@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

.thin-scroll-bar::-webkit-scrollbar {
  width: 5px;
}

.thin-scroll-bar::-webkit-scrollbar-thumb {
  background-color: var(--chakra-colors-orange-300);
}

.no-scroll-bar::-webkit-scrollbar {
  width: 0px;
}

.hero {
  font-family: 'Work Sans', sans-serif;
}

.markdown-body img {
  display: inline-block;
}
